@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Montserrat:wght@400;600&display=swap");
:root {
    /* Variables */
    --primary-color: #d7e9f7;
    --main-font: "Montserrat", sans-serif;
    --logo-font: "Dancing Script", cursive;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: var(--main-font);
    background-color: #fff9f9;
    min-height: 100vh;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    margin: 0;
}

a {
    text-decoration: none;
}
/* Utils */
.title {
    font-size: 2.5rem;
    margin: 2rem 0 1rem 0;
    text-align: center;
}

/* Loader */
.loader-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background: rgba(0, 0, 0, 0.834);
    z-index: 1;
}

.spinner {
    width: 64px;
    height: 64px;
    border: 8px solid;
    border-color: #3d5af1 transparent #3d5af1 transparent;
    border-radius: 50%;
    animation: spin-anim 1.2s linear infinite;
}

@keyframes spin-anim {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* Buttons */

.btn {
    background: transparent;
    border: none;
}

.btn:hover {
    cursor: pointer;
}

.btn__login {
    padding: 2rem 4rem;
    font-size: 2rem;
    border: 1px solid #000;
    text-align: center;
    display: inline-block;
    width: 95%;
    margin: 0 auto;
    transition: all 0.3s ease-in-out;
}

.btn__login:hover {
    background-color: var(--primary-color);
}

.btn__opt {
    font-size: 1.5rem;
    font-weight: bold;
    color: #A0C3D2;
    border: none;
    background: transparent;
    transition: all .3s ease-in-out;
}

.btn__opt:hover {
    cursor: pointer;
    color: #FD8A8A;
}

/* Header */
.site__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    gap: 1.3rem;
}

.logo {
    font-size: 3rem;
    font-family: var(--logo-font);
}

.logo span {
    color: var(--primary-color);
}

@media (min-width: 768px) {
    .site__header {
        flex-direction: row;
        justify-content: space-evenly;
        gap: 0;
        align-items: flex-end;
    }
}

/* Navbar */

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 3rem;
}

.navbar a {
    font-size: 1.6rem;
    transition: all 0.3s ease-in-out;
}

.navbar a:hover {
    transform: scale(1.1);
}

/* Header Avatar */

.profile__header {
    display: flex;
    align-items: flex-end;
    gap: 1rem;
    transition: all 0.3s ease-in-out;
}

.profile__header:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.avatar__header {
    height: 3.6rem;
    border-radius: 50%;
}

.profile__header p {
    font-size: 1.5rem;
    text-transform: uppercase;
}

@media (min-width: 768px) {
    .avatar__header {
        height: 4.2rem;
    }
}

/* Posts */

.post__container {
    display: grid;
    justify-content: center;
    align-content: flex-start;
    padding: 1rem 3rem;
}
.post__container small{
    display: block;
    font-size: 1.2rem;
}
.single__post {
    height: 42.5vh;
    padding: 4rem;
}

@media (min-width: 768px) {
    .post__container {
        height: 74rem;
    }
    .single__post {
        max-height: 72vh;
        margin: 3rem auto;
    }
}

.post__container a {
    font-size: 3rem;
    color: #000;
    font-weight: bold;
}

.post {
    max-width: 50rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid #000;
}

.post p {
    font-size: 2rem;
    margin-top: 1rem;
}

.post:last-child {
    border: none;
}

.post__info {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    padding: 1rem;
}

.post__info p {
    font-size: 1.4rem;
}

.post__info img {
    max-height: 3.6rem;
}

.post__info small {
    font-size: 1.2rem;
    font-weight: bold;
}

/* Footer */
.site__footer {
    display: flex;
    flex-direction: column;
    background-color: var(--primary-color);
    align-items: center;
    justify-content: space-evenly;
    padding: 2rem;
    gap: 2rem;
}

@media (min-width: 768px) {
    .site__footer {
        flex-direction: row;
    }
}

.media {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    align-items: center;
}

.media h3 {
    font-size: 1.5rem;
    font-weight: bold;
}

.socials {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 2rem;
    margin: 1rem auto;
}

.socials a {
    font-size: 2.2rem;
}

.diclaimer {
    max-width: 50rem;
}

/* Profile */

.profile__container {
    display: grid;
    justify-content: center;
}

@media (min-width: 768px) {
    .profile__container {
        grid-template-columns: repeat(2, 1fr);
    }
}

.profile__info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile__posts {
    max-height: 100vh;
    margin: 1rem auto;
    overflow-y: scroll;
    scroll-behavior: smooth;
}
.profile__posts::-webkit-scrollbar {
    display: none;
}

.profile__data__container {
    padding: 2rem;
}

.profile__data {
    display: flex;
    flex-direction: row;
    font-size: 1.5rem;
    gap: 1rem;
    margin: 1rem auto;
}
.profile__data span {
    font-size: 2rem;
}

/* Login form */

.login__container {
    display: flex;
    flex-direction: column-reverse;
    background-color: #f4eeff;
    gap: 2rem;
    padding: 4rem;
}


@media (min-width: 768px) {
    .login__container {
        flex-direction: row;
        justify-content: space-evenly;
        margin: auto;
        height: 100vh;
        align-items: center;
    }
}

.login__img img {
    height: 40rem;
    width: 100%;
}

@media (min-width: 768px) {
    .login__img img {
        height: 90rem;
    }
}

.btns__form {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-bottom: 1px solid #000;
    padding: 1rem 0;
}

.login__form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.field {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 1rem;
}

.field label {
    font-size: 1.7rem;
}
.field input {
    width: 95%;
    padding: 1rem 2rem;
    background: transparent;
    border: none;
    border-bottom: 1px solid #000;
    transition: all .3s ease-in-out;
}

.field input:focus {
    outline: none;
    border-bottom: 1px solid #FD8A8A;
}
