@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

:root {
    /* Variables */
    --primary-color: #000;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    margin: 0;
}

a {
    text-decoration: none;
}

/* Header */
.site__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    gap: 1.3rem;
}

.logo {
    font-size: 3rem;
}

.logo span {
    color: aquamarine;
}

@media (min-width: 768px) {
  .site__header{
    flex-direction: row;
    justify-content: space-evenly;
    gap: 0;
    align-items: flex-end;
  }
}

/* Navbar */

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 3rem;
}

.navbar a {
  font-size: 1.6rem;
  transition: all .3s ease-in-out;
}

.navbar a:hover{
  transform: scale(1.1);
}

/* Header Avatar */

.profile__header{
  display: flex;
  align-items: flex-end;
  gap: 1rem;
  transition: all .3s ease-in-out;
}

.profile__header:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.avatar__header {
  height: 3.6rem;
  border-radius: 50%;
}

.profile__header p {
  font-size: 1.5rem;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .avatar__header{
    height: 4.2rem;
  }
}